@font-face {
    font-family: 'InterL';
    src: url("/world-peas/fonts/Inter_24pt-Light.ttf");
}

@font-face {
    font-family: 'InterR';
    src: url("/world-peas/fonts/Inter_24pt-Regular.ttf");
}

@font-face {
    font-family: 'InterM';
    src: url("/world-peas/fonts/Inter_24pt-Medium.ttf");
}

@font-face {
    font-family: 'InterB';
    src: url("/world-peas/fonts/Inter_24pt-Bold.ttf");
}

@font-face {
    font-family: 'NewsreaderL';
    src: url("/world-peas/fonts/Newsreader_24pt-Light.ttf");
}

@font-face {
    font-family: 'NewsreaderI';
    src: url("/world-peas/fonts/Newsreader_24pt-Italic.ttf");
}

@font-face {
    font-family: 'NewsreaderR';
    src: url("/world-peas/fonts/Newsreader_24pt-Regular.ttf");
}

@font-face {
    font-family: 'NewsreaderM';
    src: url("/world-peas/fonts/Newsreader_24pt-Medium.ttf");
}

@font-face {
    font-family: 'NewsreaderSB';
    src: url("/world-peas/fonts/Newsreader_24pt-SemiBold.ttf");
}

@font-face {
    font-family: 'NewsreaderB';
    src: url("/world-peas/fonts/Newsreader_24pt-Bold.ttf");
}

:root {
    --mainSection-Width: 1440px;
    --brandColor: rgb(66, 107, 31);
    --bgColor: rgb(250, 250, 245, 1);
    --brandColor-hover: rgb(72, 117, 33);
    --borderColor: rgb(230, 230, 230);
    --InterL: 'InterL';
    --InterR: 'InterR';
    --InterM: 'InterM';
    --InterB: 'InterB';
    --NewsreaderL: 'NewsreaderL';
    --NewsreaderI: 'NewsreaderI';
    --NewsreaderR: 'NewsreaderR';
    --NewsreaderM: 'NewsreaderM';
    --NewsreaderSB: 'NewsreaderSB';
    --NewsreaderB: 'NewsreaderB';
}

::-webkit-scrollbar {
    width: 0;
}





body {
    font-family: var(--InterR);
}

.mainSection {
    margin: 0 auto;
    width: var(--mainSection-Width);
}



/*Header----------------------------------------------------*/


header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.836);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
}

.header__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.logo {
    color: var(--brandColor);
    font-family: var(--NewsreaderM);
    font-size: 32px;
    letter-spacing: -1.4px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    margin-left: 497px;
}

.header__menu a {
    text-decoration: none;
    font-size: 16px;
    position: relative;
    letter-spacing: -0.4px;
    color: rgb(119, 119, 119);
}

.header__menu li:last-child a {
    color: white;
}

.header__menu li:last-child a::after {
    width: 0;
}

/* .header__menu li:nth-child(3) a::after, */
/* .header__menu li:nth-child(4) a::after{ */
/* width: 0; */
/* } */

.header__menu--basket {
    font-family: var(--InterM);
    padding: 13.5px 23px;
    background-color: var(--brandColor);
    color: white;
    border-radius: 8px;
}

.header__menu--basket:hover {
    background-color: var(--brandColor-hover);
}

.header__menu a::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: rgb(143, 143, 143);
    position: absolute;
    right: 0;
    bottom: -9px;
    transition: width 0.3s ease-out;
}

.header__menu a:hover::after {
    width: 100%;
}

.header__menu--selected {
    font-family: var(--InterM);
    color: black !important;
}

.header__menu--disable {
    color: rgb(235, 235, 235) !important;
    cursor: default;

}

.header__menu--disable::after {
    width: 0 !important;
}



/*Home--------------------------------------------------------*/


main {
    overflow: hidden;
    margin-bottom: 50px;
}

.brandTitle {
    margin-top: 167px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brandTitle section {
    text-align: center;
}

.brandTitle h1 {
    font-family: var(--NewsreaderR);
    font-size: 64px;
    width: 1020px;
    line-height: 74px;
    margin-bottom: 62px;
    letter-spacing: -1.4px;
}

.brandTitle h1 span {
    font-family: var(--NewsreaderI);
}

.brandTitle a {
    background-color: var(--brandColor);
    color: white;
    font-family: var(--InterM);
    font-size: 16px;
    padding: 19px 32px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.brandTitle a:hover {
    background-color: var(--brandColor-hover);
}

.brandGallery {
    width: 100%;
    margin-top: 156px;
    margin-left: 126px;
    display: flex;
    align-items: center;
}

.brandGallery__pic01 {
    background-image: url('/world-peas/img/salat_mainPage.png');
    width: 504px;
    height: 693px;
}

.brandGallery__wrapper {
    margin-left: 60px;
}

.brandGallery__pic02 {
    background-image: url('/world-peas/img/food_mainPage.png ');
    width: 780px;
    height: 480px;
}

.brandGallery__description {
    margin-top: 16px;
    width: 700px;
    font-family: var(--InterL);
    line-height: 22.4px;
}

.brandGallery__description strong {
    font-family: var(--InterM);
}

.brandArticle {
    margin-top: 161px;
    margin-left: 136px;
    display: flex;
}

.brandArticle__Title {
    font-family: var(--InterB);
    font-size: 14px;
    min-width: 181px;
    margin-top: 8px;
}

.brandArticle__description {
    font-family: var(--InterR);
    font-size: 20px;
    width: 780px;
    margin-left: 32px;
    line-height: 30px;
}




/*PageTitle---------------------------------------------------*/



.pageTitle {
    margin-top: 76px;
    margin-left: 136px;
}

.pageTitle__wrapper {
    display: flex;
    align-items: baseline;
}

.pageTitle__title {
    font-family: var(--NewsreaderM);
    font-size: 64px;
    margin-right: 24px;
}

.pageTitle__statusWrapper {
    display: flex;
    font-family: var(--InterL);
}

.pageTitle__productCondition {
    font-family: var(--InterM);
}

.pageTitle__filterList {
    margin-left: auto;
    margin-right: 136px;
}

.pageTitle__filterList button {
    font-family: var(--InterM);
    font-size: 16px;
    background-color: white;
    padding: 9.5px 16px;
    border-radius: 20px;
    border: solid 1px rgb(194, 194, 194);
    cursor: pointer;
}

.pageTitle__filterMenu {
    display: flex;
    justify-content: space-between;
    gap: 8px;

}

.pageTitle__filterButton--selected {
    background-color: var(--brandColor) !important;
    border: none !important;
    color: white !important;
}

.titleSeparator {
    margin-top: 28px;
    width: 89.8%;
    height: 1.2px;
    background-color: var(--borderColor);
}



/*Produce------------------------------------------------------*/



.shopWindow {
    margin: 40px 134px;
}

.shopWindow__List {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 18px;
}

.shopWindow__productCard {
    width: 375px;
    height: 444px;
    background-color: var(--bgColor);
    border-radius: 24px;
    overflow: hidden;
    border: solid 2px var(--borderColor);
}

.productCard__productImg {
    width: 395px;
    height: 296px;
    overflow: hidden;
}

.productCard__wrapper {
    margin-left: 24px;
    margin-top: 24px;
}

.productCard__productTitle {
    font-family: var(--InterB);
    font-size: 20px;
}

.productCard__productPrice {
    color: var(--brandColor);
    font-family: var(--InterB);
    font-size: 20px;
    margin-top: 8px;
}

.productCard__productDescription {
    font-family: var(--InterL);
    font-size: 16px;
    color: rgb(109, 109, 109);
    margin-top: 16px;
}



/*Basket------------------------------------------------------*/



.basket {
    margin-top: 40px;
    margin-left: 136px;
}

.basketList__list {
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.basket__wrapper {
    display: flex;
}

.basketList__item {
    background-color: var(--bgColor);
    width: 780px;
    height: 159px;
    border-radius: 24px;
    border: 2px solid var(--borderColor);
    overflow: hidden;
}

.basketList__item__img {
    width: 160px;
    height: 160px;
    overflow: hidden;
}

.basketList {
    display: flex;
    flex-direction: column;
}

.basketList__item__wrapper {
    display: flex;
}

.basketList__item__descriptWrapper {
    margin-top: 24px;
    margin-left: 24px;
}

.basketList__item__TitleAmountPrice {
    display: flex;
    width: 570px;
    font-family: var(--InterB);
    font-size: 20px;
}

.basketList__item__AmountPrice {
    margin-left: auto;
    font-size: 21px;
}

.basketList__item__productPrice {
    font-family: var(--InterB);
    font-size: 20px;
    color: var(--brandColor);
    margin-top: 9px;
}

.basketList__item__amountEditor {
    font-family: var(--InterB);
    font-size: 16px;
    display: flex;
    align-items: center;
    width: 128px;
    margin-top: 22px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.06);
}

.basketList__item__amountProduct {
    padding: 9.5px 16px;
}

.basketList__item__editIcon {
    background-image: url('/world-peas/img/edit.png');
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: 8px;
}

.basket__order {
    margin-left: 32px;
    background-color: var(--bgColor);
    height: 314px;
    border-radius: 24px;
    border: 2px solid var(--borderColor);
}

.basket__orderWrapper {
    margin: 24px;
}

.basket__Title {
    font-family: var(--InterB);
    font-size: 20px;
}

.basket__orderList {
    margin-top: 32px;
}

.basket__orderList li {
    font-size: 16px;
    margin-bottom: 20px;
    display: flex;
    width: 302px;
}

.orderList__amountItem {
    margin-left: auto;
}

.basket__orderList li:last-child {
    font-family: var(--InterB);
}

.orderBTN__payment {
    width: 304px;
    margin-top: 26px;
    background-color: var(--brandColor);
    padding: 14px 24px;
    border-radius: 8px;
    border: none;
    font-family: var(--InterR);
    font-size: 15px;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.orderBTN__payment:hover{
    background-color: var(--brandColor-hover) !important;

}

.orderBTN__icon {
    background-image: url('/world-peas/img/arrow.png');
    width: 32px;
    height: 32px;
    margin-left: auto;
}



/*Footer------------------------------------------------------*/



.footerSeparator {
    width: 100%;
    height: 1px;
    background-color: var(--borderColor);

}

footer h3 {
    font-family: var(--InterM);
    font-size: 18px;
    margin: 60px 0;
    margin-left: 96px;
    text-transform: uppercase;
    text-align: center;
}