@font-face {
    font-family: 'InterL';
    src: url("/fonts/Inter_24pt-Light.ttf");
}

@font-face {
    font-family: 'InterR';
    src: url("/fonts/Inter_24pt-Regular.ttf");
}

@font-face {
    font-family: 'InterM';
    src: url("/fonts/Inter_24pt-Medium.ttf");
}

@font-face {
    font-family: 'InterB';
    src: url("/fonts/Inter_24pt-Bold.ttf");
}

@font-face {
    font-family: 'NewsreaderL';
    src: url("/fonts/Newsreader_24pt-Light.ttf");
}

@font-face {
    font-family: 'NewsreaderI';
    src: url("/fonts/Newsreader_24pt-Italic.ttf");
}

@font-face {
    font-family: 'NewsreaderR';
    src: url("/fonts/Newsreader_24pt-Regular.ttf");
}

@font-face {
    font-family: 'NewsreaderM';
    src: url("/fonts/Newsreader_24pt-Medium.ttf");
}

@font-face {
    font-family: 'NewsreaderSB';
    src: url("/fonts/Newsreader_24pt-SemiBold.ttf");
}

@font-face {
    font-family: 'NewsreaderB';
    src: url("/fonts/Newsreader_24pt-Bold.ttf");
}

:root {
    --mainSection-Width: 1440px;
    --brandColor: rgb(66, 107, 31);
    --bgColor: rgb(230, 230, 230, 1);
    --brandColor-hover: rgb(89, 146, 39);
    --InterL: 'InterL';
    --InterR: 'InterR';
    --InterM: 'InterM';
    --InterB: 'InterB';
    --NewsreaderL: 'NewsreaderL';
    --NewsreaderI: 'NewsreaderI';
    --NewsreaderR: 'NewsreaderR';
    --NewsreaderM: 'NewsreaderM';
    --NewsreaderSB: 'NewsreaderSB';
    --NewsreaderB: 'NewsreaderB';
}

::-webkit-scrollbar {
    width: 0;
  }





body {
    font-family: var(--InterR);
}

.mainSection {
    margin: 0 auto;
    width: var(--mainSection-Width);
}



/*Header----------------------------------------------------*/


header {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.836);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
}

.header__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.logo {
    color: var(--brandColor);
    font-family: var(--NewsreaderM);
    font-size: 32px;
    letter-spacing: -1.4px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    margin-left: 497px;
}

.header__menu a {
    text-decoration: none;
    font-size: 16px;
    position: relative;
    letter-spacing: -0.4px;
    color: rgb(119, 119, 119);
}

.header__menu li:last-child a {
    color: white;
}

.header__menu li:last-child a::after
 {
    width: 0;
}

/* .header__menu li:nth-child(3) a::after, */
/* .header__menu li:nth-child(4) a::after{ */
    /* width: 0; */
/* } */

.header__menu--basket {
    font-family: var(--InterM);
    padding: 13.5px 23px;
    background-color: var(--brandColor);
    color: white;
    border-radius: 8px;
}

.header__menu--basket:hover{
    background-color: var(--brandColor-hover);
}

.header__menu a::after {
    content: '';
    width: 0;
    height: 1px;
    background-color: rgb(143, 143, 143);
    position: absolute;
    right: 0;
    bottom: -9px;
    transition: width 0.3s ease-out;
}

.header__menu a:hover::after {
    width: 100%;
}

.header__menu--selected{
    font-family: var(--InterM);
    color: black !important;
}

.header__menu--disable{
    color: rgb(235, 235, 235) !important
}

.header__menu--disable::after{
    width: 0 !important;
}



/*Main------------------------------------------------------*/


main {
    overflow: hidden;
    margin-bottom: 100px;
}

.brandTitle {
    margin-top: 167px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brandTitle section {
    text-align: center;
}

.brandTitle h1 {
    font-family: var(--NewsreaderR);
    font-size: 64px;
    width: 1020px;
    line-height: 64px;
    margin-bottom: 48px;
    letter-spacing: -1.4px;
}

.brandTitle h1 span {
    font-family: var(--NewsreaderI);
}

.brandTitle button {
    background-color: var(--brandColor);
    color: white;
    font-family: var(--InterM);
    font-size: 16px;
    padding: 19px 32px;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
}

.brandTitle button:hover{
    background-color: var(--brandColor-hover);
}

.brandGallery {
    width: 100%;
    margin-top: 156px;
    margin-left: 96px;
    display: flex;
    align-items: center;
}

.brandGallery__pic01 {
    background-image: url('/img/salat_mainPage.png');
    width: 504px;
    height: 693px;
}

.brandGallery__wrapper {
    margin-left: 60px;
}

.brandGallery__pic02 {
    background-image: url('/img/food_mainPage.png ');
    width: 780px;
    height: 480px;
}

.brandGallery__description {
    margin-top: 16px;
    width: 780px;
    font-family: var(--InterL);
    line-height: 22.4px;
}

.brandGallery__description strong {
    font-family: var(--InterM);
}

.brandArticle {
    margin-top: 161px;
    margin-left: 96px;
    display: flex;
}

.brandArticle__Title {
    font-family: var(--InterB);
    font-size: 15px;
    min-width: 181px;
    margin-top: 7px;
}

.brandArticle__description {
    font-family: var(--InterR);
    font-size: 20px;
    width: 780px;
    margin-left: 32px;
    line-height: 30px;
}



/*Footer------------------------------------------------------*/



.footerSeparator{
    width: 100%;
    height: 1px;
    background-color: rgb(199, 199, 199);
}

footer h3{
    font-family: var(--InterM);
    font-size: 18px;
    margin: 60px 0;
    margin-left: 96px;
    text-transform: uppercase;
    text-align: center;
}
